<h1> Blake and Ashley Survey </h1> 
<ol>
	<li>
		<form action= "/blash_quiz" method="POST">

		<label for="POST-answer"> How do you feel about neckbeards? </label>
		</br>
		<input type="radio" id="neither" name="0" value="0"> love 'em' </input>
		</br>
		<input type="radio" id="ashley" name="0" value="1"> hate 'em </input>
		</br>
		<input type="radio" id="blake" name="0" value="2"> I don't care. </input>
	</li>

	<li>
		<label for="POST-answer"> When was the last time you tweeted?  </label>
		</br>
		<input type="radio" id="ashley" name="1" value="0"> right this second </input>
		</br>
		<input type="radio" id="blake" name="1" value="2"> I can’t remember  </input>
		</br>
		<input type="radio" id="neither" name="1" value="1">I don’t have a twitter account </input>
	</li>

	<li>



		<label for="POST-answer"> What are your thoughts on JavaScript? </label>
		</br>
		<input type="radio" id="ashley" name="2" value="0"> love it </input>
		</br>
		<input type="radio" id="blake" name="2" value="2"> hate it </input>
		</br>
		<input type="radio" id="neither" name="2" value="1"> don't care </input>
	</li>

	<li>
	
		<label for="POST-answer"> Are you vegan? </label>
		</br>
		<input type="radio" id="ashley" name="3" value="0"> Yes! </input>
		</br>
		<input type="radio" id="blake" name="3" value="2"> No. </input>
		</br>
		<input type="radio" id="neither" name="3" value="1"> on occasion </input>
	</li>

	<li>

		<label for="POST-answer"> Bro do you even surf? </label>
		</br>
		<input type="radio" id="blake" name="4" value="2"> Yes! </input>
		</br>
		<input type="radio" id="ashley" name="4" value="0"> No. </input>
		</br>
		<input type="radio" id="neither" name="4" value="1"> on occasion </input>
	</li>

	<li>
		<label for="POST-answer"> Bro do you even frat? </label>
		</br>
		<input type="radio" id="blake" name="5" value="2"> Yes! </input>
		</br>
		<input type="radio" id="ashley" name="5" value="0"> No. </input>
		</br>
		<input type="radio" id="neither" name="5" value="1"> on occasion </input>
	</li>

	<li>
		<label for="POST-answer"> Bro do you even backpack? </label>
		</br>
		<input type="radio" id="blake" name="6" value="2"> Yes! </input>
		</br>
		<input type="radio" id="ashley" name="6" value="0"> No. </input>
		</br>
		<input type="radio" id="neither" name="6" value="1"> on occasion </input>
	</li>

	<li>
		<label for="POST-answer"> Do you regularly initiate philosophical debates during lunch time? </label>
		</br>
		<input type="radio" id="blake" name="7" value="2"> I like to see people fight. </input>
		</br>
		<input type="radio" id="ashley" name="7" value="0"> I enjoy a lively debate  </input>
		</br>
		<input type="radio" id="neither" name="7" value="1"> I just don’t like to discuss heavy topics</input>
	</li>

	<li>
		<label for="POST-answer"> Do you like it when people clap for you? </label>
		</br>
		<input type="radio" id="blake" name="8" value="2"> Yes! </input>
		</br>
		<input type="radio" id="ashley" name="8" value="0"> No. </input>
		</br>
		<input type="radio" id="neither" name="8" value="1"> on occasion</input>
	</li>

	<li>
		<label for="POST-answer"> Whiskey anyone? </label>
		</br>
		<input type="radio" id="blake" name="9" value="2"> Yes! </input>
		</br>
		<input type="radio" id="ashley" name="9" value="0"> No. </input>
		</br>
		<input type="radio" id="neither" name="9" value="1"> on occasion</input>
	</li>

	<button type="submit" value="What you are">What you are</button>

</ol>
